body {
  font-family: "Ms Madi", cursive;
  color: tomato;
  background-color: rgb(25, 100, 25);
}
h1 {
  background: #3e3232;
  background: linear-gradient(0deg, #3e3232 0%, #0004ff 80%);
}
#desordenada,
#ordenada {
  color: rgb(200, 10, 245);
}

#series,
#peliculas {
  color: rgb(255, 10, 100);
  font-size: 20px;
}
img {
  width: 400px;
  height: 500px;
  border-radius: 55px 55px 55px 55px;
}

/*Se que no queda bien la combinacion de colores pero estaba jugando con el rgb*/
